body {
    margin: 0;
    padding: 0;
    background-color: lightblue; 
}


header {
    position: relative;
    width: 100%;
    height: 10vh;
    background: url(../img/wakeboarder.jpg) center/cover no-repeat;
    
}


header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1.5%;
    color: white; 
    font-size: 1.5em;
    text-decoration: underline;
}


h1 {
    padding: 2%;
    text-shadow: 2px 2px white;
    text-decoration: underline;
    width: 80%;
}


h3 {
    font-size: 14px;
    font-weight: lighter;
}


.right{
    padding: 0 60%;
    width: 100%; 
}


.wakepark1{
    background: url(../img/wakeboarder2.jpg) left/contain no-repeat;
    height: 80vh;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 6%;
    padding-top: 1%;
    background-color: lightgrey;
}


.doublearrow {
    padding-left: 60%;
}


.wakepark2{
    background: url(../img/wakeboarder3.jpg) left/contain no-repeat;
    height: 80vh;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 6%;
    padding-top: 1%;
    background-color: lightgrey;
}


.wakepark3{
    background: url(../img/wakeboarder4.jpg) left/contain no-repeat;
    height: 80vh;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 6%;
    padding-top: 1%;
    background-color: lightgrey;
}


article img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
    padding: 2% 2% 0 2%;
    border-radius: 50%;
}


article div {
    padding-left: 2%;
}


.button {
    border: 2px solid white;
    font-size: 1.5em;
    color: black;
    padding: 1%; 
    text-decoration: none; 
}


article div h3:nth-child(4) {
    margin-bottom: 3%;
}


.button:hover{
    text-shadow: 2px 2px white;
    text-decoration: underline;
}


footer nav ul li {
    list-style-type: none; 
    display: inline-block;
    padding: 1%;
}