body {
    margin: 0;
    padding: 0;
    background-color: lightblue; 
}


header {
    position: relative;
    width: 100%;
    height: 10vh;
    background: url(../img/wakeboarder.jpg) center/cover no-repeat;
    
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1.5%;
    color: white; 
    font-size: 1.5em;
    text-decoration: underline;
}



h1 {
    padding: 2%;
    text-shadow: 2px 2px white;
    text-decoration: underline;
}



article img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
    padding: 2% 2% 0 2%;
    border-radius: 50%;
}




article div {
    padding-left: 2%;
}

.button {
    border: 2px solid white;
    font-size: 1.5em;
    color: black;
    padding: 1%; 
    text-decoration: none; 
}

.button:hover{
    text-shadow: 2px 2px white;
    text-decoration: underline;
}


.footerstyle {
    background-color: blue; 
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-top: 2%;
}


/* section:nth-child(4) {
    position: relative;
    width: 100%;
    height:100vh;
    background: url(../img/wakeboarder.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */



